#bod {
    /*background: #6b706c;*/
    background-image: linear-gradient(to right, yellow , red);
    font: normal 24pt Arial;
}

header {
    color: #f5deb3;
    text-align: center;
}

h1 {
    text-shadow: 2px 2px 4px #000000;
}

#corSection {
    background: rgb(43, 48, 43);
    border-radius: 10px;
    padding: 15px;
    width: 800px;
    height:400px;
    margin:0 auto;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.397);
}

.placar {
    background: rgb(59, 61, 59);
    border-radius: 5px;
    font: normal 24px Arial;
    box-shadow: 5px 5px 10px black;
    color: white;
    margin-bottom: 15px;
    height: 40px;
}

.credito {
    font: normal 20px Arial;
    
}

.placar input {
    margin:  5px 5px 5px 5px;
    border-radius: 5px;
}

.placar button{
    margin:  5px 5px 5px 5px;
    border-radius: 5px;
   
}

.saldo {
   /* text-shadow: 2px 2px 5px yellow; */
   text-shadow: 0 0 3px rgb(72, 255, 0);
    margin-bottom: 15px;
}

 .img-1 {
    /**/
    float: left;
    border-style: ridge;
    border-width: 20px;
    border-color: gray;
    margin-left: 10px;
    background: rgb(46, 143, 46);
    border-radius: 5px;    
    box-shadow: 5px 5px 10px black;
    background-image: url(img/sifrao.jpg) ;
    background-repeat: no-repeat;
    background-size: 200px ;
    width: 200px;
    height: 200px;   
}
/*
.img-2 {
    
    float: left;
    margin-left: 10px;
    border-style: groove;
    border-width: 20px;
    background: rgb(46, 143, 46);
    border-radius: 5px; 
    box-shadow: 5px 5px 10px black;
    background-image: url(img/sifrao.jpg) ;
    background-repeat: no-repeat;
    background-size: 200px ;
    width: 200px;
    height: 200px;   
}

.img-3 {
    
    float: left;
    margin-left: 10px;
    border-style: groove;
    border-width: 20px;
    background: rgb(46, 143, 46);
    border-radius: 5px;
    box-shadow: 5px 5px 10px black;
    background-image: url(img/sifrao.jpg) ;
    background-repeat: no-repeat;
    background-size: 200px ;
    width: 200px;
    height: 200px;   
}
*/

footer{
    color: white;
    text-align: center;
    font-style: italic;
}